* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
  font-display: swap;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #111019;
  color: #E5E3ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 3rem;

}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.75rem;
}